@import "@src/variables";

.left-block {
    width: 450px;
    margin: 0 auto;
}

fieldset {
    font-size: 12px;
    border: solid 2px black;
    border-radius: 10px;
    margin: 32px 0 16px 0;


}

fieldset legend {
    padding: 0 18px 0 18px;
    text-align: left;
    font-family: $font-helvetica-neue;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 14px;
    color: $color-grey-3;
}

.table {

    padding: 16px 16px 16px 16px;
    display: flex;
    justify-content: space-between;
    font-family: $font-helvetica-neue;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;

}

.text {
    margin-bottom: 8px;
    font-family: $font-helvetica-neue;
    font-size: 40px;
    font-weight: 500;
    line-height: 48px;
}

.red-color {
    color: $color-red;
}

.purple-color {
    color: $color-purple;
}

.text-forget {
    color: $color-grey-3;
    font-family: $font-helvetica-neue;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
}

.button {
    background-color: $color-white;
    border: 0px;
}

.button-fill {
    margin-top: 32px;
    width: 100%;
    padding: 16px 8px;
    border-radius: 10px;
    border: 0;
    background: $color-purple;


    .text-b {
        margin: 0 auto;
        color: $color-white;
        font-family: $font-helvetica-neue;
        font-size: 20px;
        font-weight: 400;
        line-height: 32px;
    }
}

.continue {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;

    .line {
        margin-top: 6px;
    }

    .text-continue {
        margin-top: -6px;
        font-family: $font-helvetica-neue;
        font-size: 16px;
        font-weight: 700;
        line-height: 26px;
        color: #232632;
    }

}

.extra-auto-login {
    display: flex;
    justify-content: space-between;
    gap: 16px;
    margin-top: 40px;

    .butt {
        display: flex;
        width: 100%;
        padding: 12px 8px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        border-radius: 10px;
        border: 0;


        .text-app-goog {
            color: $color-black;
            text-align: right;
            font-family: $font-helvetica-neue;
            font-size: 20px;
            font-weight: 400;
            line-height: 32px;
        }
    }

}


.log-in {
    margin-left: 110px;
    margin-top: 40px;
    width: 238px;
    height: 22px;

    .text {
        // color: $color-gray-3;
        text-align: center;
        font-variant-numeric: lining-nums proportional-nums;
        font-family: $font-helvetica-neue;
        font-size: 14px;
        font-weight: 400;
        line-height: 22px;

        .part-01 {
            color: $color-purple;
        }
    }
}

.down {
    margin: 40px auto;
    text-align: center;
}