$font-helvetica-neue: "Helvetica Neue";
$color-dark-2: var(--dark-2, #191B23);
$color-l: var(--light-gray, lightgray 50% / cover no-repeat);

.user-info {
    display: flex;
    width: 251px;
    align-items: center;
    gap: 16px;

    .avatar {
        width: 56px;
        height: 56px;
        flex-shrink: 0;
        border-radius: 56px;
        background: $color-l;
    }

    .button {
        display: flex;
        width: 179px;
        height: 21px;
        flex-direction: column;
        justify-content: center;

        .user-name {
            color: $color-dark-2;
            font-variant-numeric: lining-nums proportional-nums;
            font-family: $font-helvetica-neue;
            font-size: 16px;
            font-weight: 700;
            line-height: 26px;
            text-transform: capitalize;
        }
    }
}