@import "@src/variables";

.subscribe {
    display: flex;
    flex-direction: column;
    gap: 24px;

    .label {
        span {
            color: $color-black;
            font-size: 16px;
            font-weight: 700;
            line-height: 26px;
            background: $color-white;
        }
    }

    .input-group {
        height: 56px;
    }
}