.checkout-accordions-container {
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin: 0 25%;
}

@media (max-width: 850px) {
    .checkout-accordions-container {
        margin: 0;
    }
}