@import '@src/variables';

.sellers-section {
    max-width: 1140px;
    margin: 0 auto 70px auto;

    .sellers-section-header {
        display: flex;
        justify-content: space-between;
        margin-bottom: 32px;

        .sellers-section-header-left {
            display: flex;
            gap: 257px;
        }
    }

    .sellers-section-header-right {
        display: flex;
        gap: 8px;
        align-items: center;
        color: $color-black;
        font-size: 14px;
        font-weight: 500;
        text-decoration: underline;
    }

    .seller-cards {
        display: grid;
        grid-template-rows: auto auto;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 30px;
        row-gap: 16px;
    }

    .seller-card {
        min-width: 556px;
    }
}

@media (max-width: 850px) {
    .sellers-section {
        width: 100%;

        .sellers-section-header {
            display: flex;
            align-items: flex-start;
            margin-bottom: 32px;

            .sellers-section-header-left {
                flex-direction: column;
                gap: 16px;
            }
        }
    }
}