@import '@src/variables';


#header-card{
    display: flex;
    justify-content: right;
    position: relative;
    bottom: 210px;
    height: 900px;
    width: 705px; 

    .header-card-index {
        position: relative;
        z-index: -1;
    }

    .text-block {
        display: flex;
        gap: 24px;
        transform-origin: top left;
        transform: rotate(270deg);
        position: relative;
        left: 100px;
        bottom: 240px;
    }    
        
    .ava-right {
        color: $color-white;
        font-size: 40px;
        font-weight: 500;
        line-height: 48px;

        .little-text {
            font-size: 20px;
            font-weight: 400;
            line-height: 32px;
        }

        .opacity {
            opacity: 0.8;
        }
    }

    .circle {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: $color-white;
    }

    .empty {
        border: 2px solid $color-white;
        background: transparent
    }

    .slide-switch {
        display: flex;
        gap: 11px;
        position: relative;
        left: 110px;
        bottom: 230px;
    }

    .arrow-switch {
        display: flex;
        gap: 16px;
        position: relative;
        left: 439px;
        bottom: 260px;
    }

    .circle-big {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: $color-white;
        border: 1px solid $color-white;
        cursor: pointer;
    }

    .arrow {
        position: relative;
        top: 1px;
    }

    .arrow-left {
        top: 14px;
        left: 14px;
    }
}
