.product-section {
    display: flex;
    gap: 30px;
    margin-top: 40px;
    margin-bottom: 48px;

    .product-img {
        width: 555px;
        min-width: 555px;
        object-fit: cover;
        border-radius: 10px;
    }
}

.product-section-right-part {
    .avatar {
        width: 40px;
        height: 40px;
        margin-right: 10px;
    }

    h2 {
        margin-bottom: 10px;
    }

    .authored-by {
        margin-bottom: 24px;
    }
}

@media (max-width: 850px) {
    .product-section {
        display: flex;
        gap: 34px;
        margin-top: 0;
        flex-direction: column;

        .product-img {
            width: 100%;
            min-width: 100%;
            width: 100%;
        }
    }
}