@import "@src/variables";

#create-nft-container {
    margin: 0 auto;
    display: flex;
    max-width: 1140px;
    position: relative;
    bottom: 50px;

    .container {
        display: flex;
        align-self: center;
        width: 100%;
        gap: 40px;

        .line {
            height: 100px;
            width: 1px;
            background-color: $color-white;
            opacity: 0.15;
        }
    }

    .grid {
        display: grid;
        grid-template-columns: 30% 70%;
        padding: 40px;
        background-color: $color-dark-2;
        border-radius: 10px;
        margin-bottom: 20px;
        align-self: center;
        width: 100%;
    }

    .text-info {
        color: $color-white;
        font-family: $font-helvetica-neue;
        font-size: 24px;
        font-weight: 500;
        line-height: 34px;
        margin-bottom: 8px;
    }

    .text-info.big {
        font-size: 40px;
        line-height: 48px;
    }

    .text-info.mini {
        font-size: 14px;
        font-weight: 400;
        line-height: 24px;
        opacity: 0.8;
    }

    

}

@media (max-width: 850px) {
    #create-nft-container {
        .grid {
            grid-template-columns: 100%;

            .container {
                flex-direction: column;
                gap: 16px;

                .line {
                    height: 1px;
                    width: 100%;
                }
            }

            .text-info {
                margin-bottom: 0;

                &.big {
                    margin-bottom: 16px;
                }
            }
        }
    }
}