@import '@src/variables';

.floor-bottom {
    color: $color-grey-2;
    font-size: 14px;
    font-weight: 400;
    opacity: 0.8;
}

.currency-price {
    color: $color-dark-2;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    margin-right: 14px;
}

.increase {
    color: #72CE47;
    font-size: 14px;
    font-weight: 700;
    line-height: 26px;
    text-transform: capitalize;
}