.links {
    display: inline-flex;
    flex-direction: row;
    width: 432px;
    word-spacing: 16.5px;
    color: #000;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Helvetica Neue;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
}