@import "@src/variables";

.about-us {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 24px;

    .company-overview {
        width: 444px;
        color: $color-black;
        font-feature-settings: 'clig' off, 'liga' off;
        font-size: 40px;
        font-weight: 500;
        line-height: 48px;
    }

    .company-mail {
        width: 420px;
        color: $color-black;
        font-feature-settings: 'clig' off, 'liga' off;
        font-size: 20px;
        font-weight: 500;
        line-height: 34px;
    }
}