$font-helvetica-neue: "Helvetica Neue";

$color-black: var(--black, #232632);

.about-us {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 24px;

    .h2 {
        width: 444px;
        color: $color-black;
        font-feature-settings: 'clig' off, 'liga' off;
        font-family: $font-helvetica-neue;
        font-size: 40px;
        font-weight: 500;
        line-height: 48px;
    }

    .h3 {
        width: 420px;
        color: $color-black;
        font-feature-settings: 'clig' off, 'liga' off;
        font-family: $font-helvetica-neue;
        font-size: 20px;
        font-weight: 500;
        line-height: 34px;
    }
}