@import "@src/variables";

.header-img {
    margin: 4px 50px 30px 50px;

    img {
        object-fit: cover;
        width: 100%;
        height: 250px;
        border-radius: 10px;
        display: block;
    }
}

.details-page-section {
    display: flex;
    gap: 29px;

    margin-right: 150px;
    margin-left: 150px;

    .details-page-section-left-part {
        position: relative;

        h2 {
            margin-bottom: 4px;
        }

        .authored-by {
            margin-bottom: 26px;
        }

        .avatar {
            height: 75px;
            width: 75px;
            position: absolute;
            top: -91px;
        }

        .profile-buttons {
            display: flex;
            gap: 16px;

            .profile-buttons-right {
                display: flex;
                gap: 16px;
            }

            .create-community-button {
                width: 321px;
                height: 56px;
                border-radius: 10px;
                border: 2px solid $dark-2-color;
                background-color: inherit;

                color: $dark-2-color;
                text-align: center;
                font-family: $font-helvetica-neue;
                font-size: 16px;
                font-weight: 700;
                text-transform: capitalize;
            }

            .bid-button {
                width: 170px;
                height: 56px;
                border-radius: 10px;
                background: $purple-color;
                color: $white-color;
                border: 0;

                color: $white-color;
                text-align: center;
                font-family: $font-helvetica-neue;
                font-size: 16px;
                font-weight: 700;
                text-transform: capitalize;
            }

            .share-button {
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 10px;
                width: 56px;
                height: 56px;
                background: $grey-color;
                border: 0;
            }
        }

        .collection-desc {
            display: block;
            margin-bottom: 26px;

            color: var(--dark-2, $dark-2-color);

            font-family: $font-helvetica-neue;
            font-size: 14px;
            font-weight: 400;
            line-height: 22px;
        }
    }

    .details-page-section-right-part {
        padding: 24px;
        display: flex;
        flex-direction: column;
        gap: 16px;

        .details-item {
            display: flex;
            justify-content: space-between;
            gap: 100px;

            span {
                width: 131px;
            }
        }
    }
}

@media (max-width: 850px) {
    .details-page-section {
        flex-direction: column;
        margin-right: 24px;
        margin-left: 24px;
    }

    .header-img {
        margin: 0 0 24px 0;

        img {
            height: 200px;
            border-radius: 0;
        }
    }
}