@import '../../variables';

.ethereum-price {
    display: grid;
    grid-template-columns: min-content max-content;
    column-gap: 4px;
    align-items: center;
}

.ethereum-price-value-currency {
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: $helveticaNeueFont;
    font-style: normal;
}

.ethereum-price-extra {
    font-family: Helvetica Neue;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    margin-top: 4px;
}