@import '@src/variables';

.ethereum-price {
    display: grid;
    grid-template-columns: min-content max-content;
    column-gap: 4px;
    align-items: center;
}

.ethereum-price-value-currency {
    font-family: $font-helvetica-neue;
}

.ethereum-price-extra {
    font-family: $font-helvetica-neue;
    font-size: 14px;
    font-weight: 400;
    margin-top: 4px;
}