@import "@src/variables";

.user-info {
    display: flex;
    align-items: center;
    gap: 16px;

    .avatar {
        width: 56px;
        height: 56px;
        flex-shrink: 0;
        border-radius: 56px;
        background: $color-grey-light;
    }

    .user-name {
        color: $color-dark-2;
        font-size: 16px;
        font-weight: 700;
    }
}

@media (max-width: 850px) {
    .user-info {
        gap: 10px;

        .avatar {
            width: 44px;
            height: 44px;
            flex-shrink: 0;
            background: $color-grey-light;
        }

        .user-name {
            color: $color-dark-2;
            font-size: 14px;
        }
    }
}