@import "@src/variables";

.user-info {
    margin-left: 25px;
    display: flex;
    width: 251px;
    height: 56px;
    align-items: center;
    gap: 16px;
    margin-top: 16px;

    .avatar {
        width: 56px;
        height: 56px;
        flex-shrink: 0;
        border-radius: 56px;
        background: $color-l;
    }

    .button {
        display: flex;
        width: 179px;
        height: 21px;
        flex-direction: column;
        justify-content: center;
        border: none;
        background: none;

        .user-name {
            color: $color-dark-2;
            font-variant-numeric: lining-nums proportional-nums;
            font-family: $font-helvetica-neue;
            font-size: 16px;
            font-weight: 700;
            line-height: 26px;
            text-transform: capitalize;
        }
    }
}