.social-networks {
    margin-top: 191px;
    margin-left: 232px;
    display: inline-flex;
    flex-direction: row;
    gap: 40px;

    &.icon {
        width: 32px;
        height: 32px;
        flex-shrink: 0;
    }
}