.social-networks {
    display: inline-flex;
    flex-direction: row;
    margin-top: 191px;
    gap: 40px;

    &.icon {
        width: 32px;
        height: 32px;
        flex-shrink: 0;
    }
}

@media (max-width: 850px) {
    .social-networks {
        margin-top: 0;
        justify-content: center;
        margin-bottom: 40px;
        gap: 0;

        .icon {
            width: 24px;
            height: 24px;
        }
    }
}