@import '@src/variables';


.form-radio {
    display: flex;
    position: relative;
    padding-left: 52px;
    cursor: pointer;
    font-size: 14px;
    text-align: center;
    align-items: center;
}


.form-radio input {
    position: absolute;
    opacity: 0;
}

.dot {
    height: 20px;
    width: 20px;
    position: absolute;
    left: 1px;
    border: 2px solid $color-grey;
    border-radius: 50%;
}

.form-radio:hover input~.dot {
    display: block;
}

.form-radio input:checked~.dot {
    border: 2px solid $color-grey-3;
    transition: 1s;
    display: contents;
}

.dot:after {
    content: '';
    position: absolute;
    display: contents;
}

.form-radio input:checked~.dot:after {
    display: block;
}


.form-radio .dot:after {
    width: 10px;
    height: 10px;
    top: 5px;
    left: 6px;
    border-radius: 50%;
    background: $color-black;
}

.column {
    display: flex;
    justify-content: space-between;
}

.text-right {
    color: $color-grey-3;
    font-size: 14px;
    position: relative;
    bottom: 6px;
}