.trust {
    display: inline-flex;
    flex-direction: row;
    gap: 29px;
    font-family: 'Helvetica Neue';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    color: var(--gray-3, #828282);
    font-variant-numeric: lining-nums proportional-nums;

    .text-1 {
        width: 87px;
    }

    .text-2 {
        width: 95px;
    }

    .text-3 {
        width: 62px;
        margin-left: 1px;
    }
}