@import '@src/variables';

.product-page {
    display: flex;
    flex-direction: column;
    align-items: center;

    .market-place-section {
        margin-bottom: 120px;
    }
}

@media (max-width: 850px) {
    .product-page {
        display: block;
        padding: 0 24px;
    }
}