$font-helvetica-neue: "Helvetica Neue";
$color-black: var(--black, #232632);
$color-gray-3: var(--gray-3, #828282);

.bnb {
    margin-top: 102px;
    display: inline-flex;
    flex-direction: column;
    width: 457px;
    height: 459px;

    .background {
        display: flex;
        position: relative;
        width: 100%;
        height: 100%;
        flex-shrink: 0;
        z-index: 0;
    }

    .picture-background {
        display: flex;
        position: absolute;
        width: 457px;
        height: 459px;
        flex-shrink: 0;
        z-index: 0;
        fill: rgba(191, 191, 191, 0.15);
        backdrop-filter: blur(35px);
        z-index: 1;
    }

    .picture-block {
        position: absolute;
        margin-top: 22px;
        margin-left: 74px;
        height: 306px;
        width: 306px;
        z-index: 1;

        .picture {
            position: absolute;
            width: 306px;
            height: 306px;
            flex-shrink: 0;
            z-index: 2;
        }

        .bnb-mini {
            position: absolute;
            margin-top: 72px;
            margin-left: 148px;
            width: 60px;
            height: 24px;
            z-index: 2;
        }

        .bnb-base {
            position: absolute;
            width: 167px;
            height: 66px;

            &.part-1 {
                margin-top: 171px;
            }

            &.part-2 {
                margin-top: 99px;
                margin-left: 148px;
            }
        }
    }

    .text-block {
        display: inline-flex;
        flex-direction: column;
        margin-top: 27px;
        margin-left: 39px;
        justify-content: center;
        align-items: center;
        gap: 8px;
        height: 64px;
        width: 379px;
        z-index: 1;

        .h3 {
            color: $color-black;
            text-align: center;
            font-feature-settings: 'clig' off, 'liga' off;
            font-family: $font-helvetica-neue;
            font-size: 24px;
            font-weight: 500;
            line-height: 34px;
        }

        .text {
            width: 379px;
            color: $color-gray-3;
            font-family: $font-helvetica-neue;
            font-size: 14px;
            font-weight: 400;
            line-height: 22px;
            white-space: nowrap;
            padding: 0;
            margin: 0;
        }
    }
}