@import "@src/variables";

.copyright {
    text-align: end;
    margin-top: 84px;
    color: $color-dark-additional;
    font-family: $font-lato;
    font-size: 17px;
    font-weight: 400;
    line-height: 25px;
}