@import "@src/variables";


#header {
    padding: 37px 50px 37px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 2000px;
    margin: 0 auto;



    .logo {
        position: relative;
        z-index: 2;
    }

    .background {
        background-color: transparent;
        border: 0;
    }

    .left {
        gap: 60px;

    }

    .right {
        gap: 60px;
    }

    .column {
        display: flex;
        align-items: center;
        position: relative;
    }

    .sign-in {
        text-align: center;
        font-size: 14px;
        line-height: 26px;
        font-weight: 500;
        font-family: $font-helvetica-neue;
        color: $color-black;
        text-decoration-line: underline;
    }

    .icons {
        position: relative;
        z-index: 2;
        display: flex;
        gap: 16px;
    }

    .icon {
        display: flex;
        gap: 16px;
    }

    .burger {
        position: relative;
        z-index: 2;
        right: 35px;
        bottom: 14px;
    }

    @media(max-width: 850px) {
        padding: 31px 10px 31px 24px;
        position: relative;
        z-index: 1;

        .desktop-only {
            visibility: hidden;
        }

        .right {
            gap: 5px;
        }

        .column {
            display: flex;
            flex-direction: column;
            position: absolute;
            align-items: flex-end;
            top: 100px;
            gap: 15px;
            width: 100%;
            background-color: white;
            transform: translateX(150%);
            transition: all 0.4s ease;
            padding: 0 50px 20px 0;

        }

        .column.active {
            transform: translateX(0);
            background-color: white;
        }

        .mobile-only {
            left: -90px;

        }

        .elipse-black {
            background-color: black;
            width: 36px;
            height: 36px;
            flex-shrink: 0;
            border-radius: 50%;
        }

        .ellipse {
            width: 36px;
            height: 36px;
        }

        .burger {
            position: relative;
            right: 28px;
            bottom: 8px;
        }

        .backet {
            width: 20px;
            height: 20px;
        }

        .menu {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10px;
        }

        .icon {
            flex-direction: column;
        }

        .icons {
            flex-direction: column;
            align-items: flex-start;
            gap: 5px;
        }

        .search {
            position: relative;
            left: 30px;
            margin-bottom: 10px;
        }



    }


}

@media (min-width: 1550px) {

    .ellipse {
        border: 1px solid $color-black;
        border-radius: 50%;
    }


}