@import "@src/variables";

#header {
    position: relative;
    z-index: 1;
    margin: 37px 50px;

    .header-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .background {
        background-color: transparent;
        border: 0;
    }

    .left {
        gap: 60px;
    }

    .right {
        gap: 60px;
    }

    .column {
        display: flex;
        align-items: center;
    }

    .sign-in {
        text-align: center;
        font-size: 14px;
        line-height: 26px;
        font-weight: 500;
        font-family: $font-helvetica-neue;
        color: $color-black;
        text-decoration-line: underline;
    }

    .icon {
        display: flex;
        gap: 16px;
    }

    .burger {
        position: relative;
        right: 35px;
        bottom: 14px;
    }
}

@media (min-width: 1550px) {

    .ellipse {
        border: 1px solid $color-black;
        border-radius: 50%;
    }

}