@import "@src/variables";

.header-card {
    display: inline-flex;
    align-items: center;
    flex-direction: row;
    width: 1140px;

    .text {
        color: $color-black;
        font-variant-numeric: lining-nums proportional-nums;
        font-family: $font-helvetica-neue;
        font-size: 16px;
        font-weight: 700;
        line-height: 26px;
        text-transform: capitalize;

        &.creator {
            margin-left: 53px;
            width: 58px;
        }

        &.volume {
            margin-left: 292px;
            width: 105px;
        }

        &.sales {
            margin-left: 59px;
            width: 42px;
        }

        &.items {
            margin-left: 68px;
            width: 43px;
        }

        &.followers {
            margin-left: 51px;
            width: 75px;
        }
    }


    .icon {
        margin-left: 10px;
        width: 18px;
        height: 18px;
    }
}