@import "@src/variables";

.header-card {
    display: flex;
    gap: 290px;
    width: 100%;

    .text {
        color: $color-black;
        font-family: $font-helvetica-neue;
        font-size: 16px;
        font-weight: 700;
        line-height: 26px;
        text-transform: capitalize;
    }

    .creator {
        margin-left: 53px;
    }

    .icon {
        margin-left: 10px;
        width: 18px;
        height: 18px;
    }
}

.user-extra-info-header {
    display: grid;
    grid-template-columns: repeat(4, 133px);
    gap: 40px;

    .header-item {
        display: flex;
        align-items: center;
    }
}

@media (max-width: 850px) {}