@import "@src/variables";

.welcome {
    max-width: 1140px;
    margin: 0 auto 126px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .delimiter {
        display: flex;
        position: relative;
        height: 584px;
        width: 1px;
        flex-shrink: 0;
        stroke-width: 1px;
        stroke: $color-black;
        opacity: 0.1;
        border: 1px;
        z-index: 2;
        background: $color-black;
    }
}