.welcome {
    width: 1440px;
    height: 1460px;
    display: inline-flex;
    flex-direction: row;
    z-index: 1;
    gap: 1px;

    .delimiter {
        position: absolute;
        margin-left: 720px;
        margin-top: 40px;
        height: 584px;
        width: 1px;
        flex-shrink: 0;
        stroke-width: 1px;
        stroke: var(--black, #232632);
        opacity: 0.1;
        border: 1px;
        z-index: 2;
        background: #232632;
    }

    .left {
        position: relative;
        height: 750px;
        width: 720px;
    }

    .right {
        position: relative;
        height: 750px;
        width: 719px;
    }

    .background {
        width: 1440px;
        height: 1440px;
        flex-shrink: 0;
        position: absolute;
        background: var(--white, #FFF);
        z-index: 0;
    }
}