.subscribe {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 24px;

    .label {
        .btn {
            color: var(--black, #232632);
            font-variant-numeric: lining-nums proportional-nums;
            font-family: 'Helvetica Neue';
            font-size: 16px;
            font-style: normal;
            font-weight: 700;
            line-height: 26px;
            text-transform: capitalize;
            background: #ffffff;
            padding: 10px;
            text-align: center;
            text-decoration: none;
            border: none;
        }
    }

    .block {
        display: flex;
        width: 420px;
        flex-direction: column;
        align-items: flex-start;

        .root {
            display: flex;
            padding-left: 0px;
            flex-direction: column;
            align-items: flex-start;
            align-self: stretch;
            border-radius: 10px;
            border: 2px solid var(--dark-2, #191B23);

            .label {
                display: flex;
                height: 2px;
                padding: 0px 8px 2px 8px;
                align-items: center;
                gap: 10px;
                background: #FFF;

                .text {
                    display: flex;
                    align-items: center;
                    color: var(--gray-3, #828282);
                    font-variant-numeric: lining-nums proportional-nums;
                    font-family: 'Helvetica Neue';
                    font-size: 12px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 14px;
                }
            }

            .base {
                display: inline-flex;
                flex-direction: row;
                padding: 0px 16px 0px 8px;
                align-items: center;
                gap: 8px;
                align-self: stretch;

                .input {
                    display: flex;
                    padding: 16px 0px;
                    align-items: center;
                    gap: 10px;
                    flex: 1 0 0;
                    color: var(--dark-2, #191B23);
                    font-variant-numeric: lining-nums proportional-nums;
                    font-family: 'Helvetica Neue';
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 22px;
                    border: none;
                }

                .adornment {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;

                    .send {
                        width: 16px;
                        height: 16px;
                    }
                }
            }
        }
    }
}