@font-face {
    font-family: "Helvetica Neue";
    src: local("HelveticaNeueMedium"), url("./HelveticaNeueMedium.ttf") format("truetype");
}

@font-face {
    font-family: "Lato";
    src: local("Lato-Regular"), url("./Lato-Regular.ttf") format("truetype");
}