@font-face {
    font-family: "Helvetica Neue";
    src: local("HelveticaNeueRegular"), url("./HelveticaNeueRegular.otf") format("opentype");
    font-weight: 400;
}

@font-face {
    font-family: "Helvetica Neue";
    src: local("HelveticaNeueMedium"), url("./HelveticaNeueMedium.otf") format("opentype");
    font-weight: 500;
}

@font-face {
    font-family: "Helvetica Neue";
    src: local("HelveticaNeueBold"), url("./HelveticaNeueBold.otf") format("opentype");
    font-weight: 700;
}

@font-face {
    font-family: "Lato";
    src: local("LatoRegular"), url("./LatoRegular.ttf") format("truetype");
    font-weight: 400;
}