.product-actions-part {
    display: flex;
    flex-direction: column;
    gap: 17px;
}

.product-actions {
    display: flex;
    justify-content: space-evenly;
    padding-top: 24px;
    padding-bottom: 24px;
}

@media (max-width: 370px) {
    .product-actions {
        padding: 24px;
        flex-direction: column;
        gap: 17px;
    }
}