@import "@src/variables";

.links {
    display: inline-flex;
    flex-direction: row;
    width: 432px;
    margin-left: 16px;

    .text {
        color: $color-black-default;
        font-feature-settings: 'clig' off, 'liga' off;
        font-size: 20px;
        font-weight: 400;
        line-height: 32px;
        word-spacing: 16.5px;
    }
}

@media (max-width: 850px) {
    .links {
        flex-direction: row;
        justify-content: center;
        width: 100%;
        margin-left: 0;
        margin-bottom: 40px;

        .text {
            text-align: right;
            font-size: 16px;
            font-weight: 400;
            line-height: 26px;
            word-spacing: 10px;
        }
    }
}