@import "@src/variables";

#google-apple {
    .continue {
        display: flex;
        justify-content: space-between;
        margin-top: 40px;

        .line {
            margin-top: 6px;
        }

        .text-continue {
            margin-top: -6px;
            font-family: $font-helvetica-neue;
            font-size: 16px;
            font-weight: 700;
            line-height: 26px;
            color: #232632;
        }
    }

    .extra-auto-login {
        display: flex;
        justify-content: space-between;
        gap: 16px;
        margin-top: 40px;

        .butt {
            display: flex;
            width: 100%;
            padding: 12px 8px;
            justify-content: center;
            align-items: center;
            gap: 10px;
            border-radius: 10px;
            border: 0;

            .text-app-goog {
                color: $color-black;
                text-align: right;
                font-family: $font-helvetica-neue;
                font-size: 20px;
                font-weight: 400;
                line-height: 32px;
            }
        }
    }
}