@import "@src/variables";

.footer-container {
    margin-top: 50px;
    border-top: 2px solid $color-grey;
}

.footer {
    display: flex;
    justify-content: space-between;
    max-width: 1140px;
    margin: 0 auto;
    padding-bottom: 56px;
    align-items: center;

    .left {
        margin-top: 61px;
        display: inline-flex;
        flex-direction: column;
        z-index: 2;
    }

    .right {
        margin-top: 191px;
        display: inline-flex;
        flex-direction: column;
        z-index: 2;
    }
}

@media (max-width: 850px) {
    .footer {
        padding: 0 24px;
        flex-direction: column;
        padding-bottom: 24px;

        .left {
            margin-top: 24px;
        }

        .right {
            margin-top: 40px;
            margin-left: 0;
        }
    }
}