@import "@src/variables";

.footer-delimiter {
    width: 100%;
}

.footer-container {
    max-width: 1440px;
    display: flex;
    justify-content: center;
    margin: 0 5%;
}

.footer {
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 56px;
    align-items: center;

    .left {
        margin-top: 61px;
        display: inline-flex;
        flex-direction: column;
        z-index: 2;
    }

    .right {
        margin-top: 191px;
        margin-left: 232px;
        display: inline-flex;
        flex-direction: column;
        z-index: 2;
    }
}

@media (max-width: 850px) {
    .footer {
        padding: 0 24px;
        flex-direction: column;
        padding-bottom: 24px;

        .left {
            margin-top: 24px;
        }

        .right {
            margin-top: 40px;
            margin-left: 0;
        }
    }
}