.market-place-section {
    max-width: 1140px;
    margin: 0 auto;
}

.cards-container {
    display: flex;
}

@media (max-width: 850px) {
    .market-place-section {
        max-width: 366px;
    }
}