@import "@src/variables";

.link-text {
    text-align: center;
    font-size: 14px;
    line-height: 26px;
    font-weight: 500;
    font-family: $font-helvetica-neue;
    text-decoration: none;
    color: $color-black;
}

.link {
    display: flex;
    align-items: baseline;
    gap: 15px;
}

@media(max-width: 500px) {
    .mobile-nav {
            position: absolute;
            flex-direction: column;
            right: 410px;
            top: 60px;
            align-items: flex-end;
            width: 100%;
            background-color: white;
            transform: translateX(100%);
            transition: all 0.4s ease;
            padding: 15px 50px 50px 50px;
    }
    .desktop-only{
        visibility: hidden;
    }
    

}