.collection-name,
.volume-price,
.floor-price {
    font-weight: 700;
    font-size: 16px;
}

.card-bottom-section {
    padding: 26px 16px 16px 16px;
    display: flex;
    justify-content: space-between;
}

.volume-floor-container {
    display: flex;
    gap: 30px;

    .ethereum-price-value-currency {
        font-weight: 700;
    }

    .ethereum-icon {
        height: 18px;
    }
}

.top-section {
    position: relative;

    .collection-img {
        object-fit: cover;
        width: 100%;
    }
}

.big-avatar {
    position: absolute;
    bottom: 16px;
    left: 50px;
    transform: translate(-50%, 50%);
    z-index: 1;
    height: 56px;
    width: 56px;
    border-radius: 50%;
    object-fit: cover;
}

@media (max-width: 850px) {
    .card-bottom-section {
        flex-direction: column;

        .collection-title {
            display: flex;
            gap: 6px;
            margin-bottom: 16px;
            align-items: center;

            .sub-title {
                margin-top: 0;
            }
        }
    }
}