@import "@resources/fonts/fonts";
$font-helvetica-neue: "Helvetica Neue";
$font-lato: "Lato";

$color-white: #FFFFFF;
$color-black: #232632;
$color-black-default: #000;
$color-dark-2: #191B23;
$color-dark-additional: #3B5266;
$color-grey-light: #d3d3d3;
$color-grey: #ebedf2;
$color-light-grey: #fafafa;
$color-grey-2: #4F4F4F;
$color-grey-3: #828282;
$color-grey-4: #646464;
$color-purple: #7B61FF;
$color-red: #FF564A;