@import '../../../../variables';

.price-card {
    background: var(--grey, #EBEDF2);
    border-radius: 10px;
    display: flex;
    padding: 24px;
    flex-direction: column;
    width: 100%;

    .price-card-title {
        font-variant-numeric: lining-nums proportional-nums;
        margin-bottom: 16px;

        font-family: $helveticaNeueFont;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 22px;
    }

    .ethereum-price-value-currency {
        font-feature-settings: 'clig' off, 'liga' off;

        font-size: 24px;
        font-weight: 500;
    }
}